<a href="{{@blog.url}}/rss" title="Posts Feed"><img src="{{asset '/images/follow/rss.png'}}" title="Posts Feed" alt="Posts Feed" width="45" height="45" border="0" /></a>
<br>
<a href="http://obakfahad.com/" title="Wordpress"><img src="{{asset '/images/follow/wordpress.png'}}" title="Wordpress" alt="Wordpress" width="45" height="45" border="0" /></a>
<a href="https://www.facebook.com/fahad.ahammed.authoy" title="Facebook"><img src="{{asset '/images/follow/facebook.png'}}" title="Facebook" alt="Facebook" width="45" height="45" border="0" /></a>
<a href="http://obakfahad.tumblr.com" title="Tumblr"><img src="{{asset '/images/follow/tumblr.png'}}" alt="Tumblr" width="45" height="45" border="0" title="Tumblr" /></a>
<br>
<a href="https://twitter.com/obakfahad" title="Twitter"><img src="{{asset '/images/follow/twitter.png'}}" alt="Twitter" width="45" height="45" border="0" title="Twitter" /></a>
<a href="https://plus.google.com/117808296281102504934" title="Google Plus"><img src="{{asset '/images/follow/googleplus.png'}}" alt="Google Plus" title="Google Plus" width="45" height="45" border="0" /></a>
<a href="http://www.instagram.com/obakfahad" title="Instagram"><img src="{{asset '/images/follow/instagram.png'}}" alt="Instagram" title="Instagram" width="45" height="45" border="0" /></a>
<br>
<a href="http://www.pinterest.com/obakfahad" title="Pinterest"><img src="{{asset '/images/follow/pinterest.png'}}" alt="Pinterest" title="Pinterest" width="45" height="45" border="0" /></a>
<a href="skype:obakfahad?call" title="Skype"><img src="{{asset '/images/follow/skype.png'}}" alt="Skype" width="45" height="45" border="0" title="Skype" /></a>
<a href="mailto:fahad@obakfahad.com" title="Email"><img src="{{asset '/images/follow/email.png'}}" title="Email" alt="Email" width="45" height="45" border="0" /></a>
