<div id="content">
        <ul class="slideshow">
          <li class="show"><img width="706" height="220" src="{{asset '/images/1.jpg'}}" alt="image one" /></li>
          <li><img width="706" height="220" src="{{asset '/images/2.jpg'}}" alt="image two" /></li>
          <li><img width="706" height="220" src="{{asset '/images/3.jpg'}}" alt="image three" /></li>
          <li><img width="706" height="220" src="{{asset '/images/4.jpg'}}" alt="image four" /></li>
          <li><img width="706" height="220" src="{{asset '/images/5.jpg'}}" alt="image five" /></li>
</ul>
